/* ==========================================================================*/
/* SETTINGS */
/* ==========================================================================*/
/* ==========================================================================*/
/* END SETTINGS */
/* ==========================================================================*/
/* ==========================================================================*/
/* MIXINS */
/* ==========================================================================*/
/* ==========================================================================*/
/* END TOOLS - MIXINS */
/* ==========================================================================*/
/* ==========================================================================*/
/* GENERIC */
/* ==========================================================================*/
@import url(/Users/jorge/Desktop/programming_pruebas/BEMIT_PROJECT/node_modules/normalize.css/normalize.css);
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: 0px solid;
  box-sizing: border-box; }
  *:hover, *:active, *:focus, *:visited,
  *:after:hover,
  *:after:active,
  *:after:focus,
  *:after:visited,
  *:before:hover,
  *:before:active,
  *:before:focus,
  *:before:visited {
    outline: 0px solid; }

/* ==========================================================================*/
/* END GENERIC */
/* ==========================================================================*/
/* ==========================================================================*/
/* TAGS */
/* ==========================================================================*/
body {
  font-family: "open sans", "sans-serif";
  position: relative; }

/* ==========================================================================*/
/* END TAGS */
/* ==========================================================================*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */

/* Opera < 12.1 */

@keyframes top {
  from {
    margin: 0 auto; }
  to {
    margin: -40px auto; } }

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes top {
  from {
    margin: 0 auto; }
  to {
    margin: -40px auto; } }

/* Internet Explorer */

/* Opera < 12.1 */

@keyframes linegreen {
  from {
    width: 0%; }
  to {
    width: 80%; } }

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes linegreen {
  from {
    width: 0%; }
  to {
    width: 80%; } }

/* Internet Explorer */

/* Opera < 12.1 */

@keyframes dropdownin {
  from {
    right: -100%; }
  to {
    right: 0%; } }

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes dropdownin {
  from {
    right: -100%; }
  to {
    right: 0%; } }

/* Internet Explorer */

/* Opera < 12.1 */

.o-container {
  width: 100%; }
  @media (min-width: 1024px) {
    .o-container {
      max-width: 1280px;
      margin: auto;
      width: 90%; } }

.c-header {
  height: 150px;
  width: 100%;
  background: -webkit-linear-gradient(left, #B993D6 0%, #8CA6DB 100%);
  background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%); }
  .c-header__wrapper-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 1024px) {
      .c-header__wrapper-header {
        padding: 0;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: initial;
        -webkit-align-items: initial;
            -ms-flex-align: initial;
                align-items: initial; } }
  .c-header__wrapper-logo {
    display: inline-block;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .c-header__wrapper-logo {
        margin: 40px 0px 0px 80px; } }
  .c-header__logo {
    width: 160px; }
    @media (min-width: 768px) {
      .c-header__logo {
        width: 185px; } }
    @media (min-width: 1024px) {
      .c-header__logo {
        width: 220px; } }
  .c-header__wrapper-links {
    display: inline-block;
    margin-top: 38px;
    margin-right: 80px;
    display: none; }
    @media (min-width: 1024px) {
      .c-header__wrapper-links {
        display: inline-block; } }
  .c-header__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    margin-left: 56px; }
  .c-header__link {
    margin-left: 34px; }
    .c-header__link a {
      text-decoration: none;
      color: #FFFFFF;
      text-align: right; }
  .c-header__wrapper-menu-mobile {
    width: 30px; }
    .c-header__wrapper-menu-mobile img {
      width: 100%; }
    @media (min-width: 1024px) {
      .c-header__wrapper-menu-mobile {
        display: none; } }

.c-user {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  margin: -40px auto;
  margin-bottom: 150px;
  -webkit-animation: fadein 0.6s ease-in-out;
          animation: fadein 0.6s ease-in-out; }
  .c-user__tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 1024px) {
      .c-user__tabs {
        -webkit-box-pack: normal;
        -webkit-justify-content: normal;
            -ms-flex-pack: normal;
                justify-content: normal;
        width: auto; } }
  .c-user__tab {
    width: 100%;
    padding: 20px 6px;
    font-size: 13px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    z-index: 2;
    color: #AFAFAF;
    position: relative;
    cursor: pointer; }
    .c-user__tab--active {
      color: #484848;
      border-bottom: 4px solid;
      -webkit-border-image: -webkit-linear-gradient(left, #B993D6 0%, #8CA6DB 100%);
           -o-border-image: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
              border-image: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
      border-image-slice: 1;
      border-left: 0px;
      border-right: 0px;
      border-top: 0px; }
    @media (min-width: 375px) {
      .c-user__tab {
        font-size: 15px; } }
    @media (min-width: 768px) {
      .c-user__tab {
        font-size: 18px; } }
    @media (min-width: 1024px) {
      .c-user__tab {
        width: auto;
        padding: 20px 46px;
        font-size: 20px; } }
  .c-user__tabs-line {
    width: 100%;
    height: 4px;
    background: #E0E0E0;
    position: absolute;
    bottom: 0;
    z-index: 1; }
  .c-user__tabs-separator {
    width: 17px;
    height: 1px;
    background: #E0E0E0;
    position: absolute;
    right: -8px;
    top: 50%;
    z-index: 1;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .c-user__wrapper-avatar-stats {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 39px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 1024px) {
      .c-user__wrapper-avatar-stats {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: 64px; } }
  .c-user__wrapper-avatar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    @media (min-width: 1024px) {
      .c-user__wrapper-avatar {
        width: 40%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .c-user__wrapper-avatar-img {
    width: 120px;
    position: relative; }
    @media (min-width: 1024px) {
      .c-user__wrapper-avatar-img {
        width: 200px;
        margin-top: 25px;
        margin-left: 60px; } }
    @media (min-width: 1101px) {
      .c-user__wrapper-avatar-img {
        width: 120px; } }
  .c-user__img {
    width: 100%; }
  .c-user__wrapper-username {
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    padding-right: 43px;
    padding-left: 32px;
    padding-top: 15px;
    padding-bottom: 15px; }
    @media (min-width: 1024px) {
      .c-user__wrapper-username {
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
        border-right: 1px solid #E0E0E0;
        border-bottom: none; } }
  .c-user__username {
    font-size: 21px;
    font-weight: 600;
    line-height: 33px;
    text-transform: capitalize; }
    @media (min-width: 1024px) {
      .c-user__username {
        font-size: 22px; } }
    @media (min-width: 1101px) {
      .c-user__username {
        font-size: 24px; } }
  .c-user__description {
    font-size: 18px;
    line-height: 27px;
    color: #AFAFAF;
    font-weight: lighter;
    max-width: 280px;
    text-align: center; }
    @media (min-width: 1024px) {
      .c-user__description {
        font-size: 15px;
        text-align: left; } }
    @media (min-width: 1101px) {
      .c-user__description {
        font-size: 20px; } }
  .c-user__online-circle {
    top: 12px;
    height: 16px;
    width: 16px;
    background-color: #60F560;
    border-radius: 50%;
    position: absolute;
    right: 6px; }
    @media (min-width: 1024px) {
      .c-user__online-circle {
        top: 5px; } }
    @media (min-width: 1101px) {
      .c-user__online-circle {
        top: 12px; } }
  .c-user__wrapper-stats {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 768px) {
      .c-user__wrapper-stats {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 1024px) {
      .c-user__wrapper-stats {
        margin: 0 auto;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 60%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        padding-left: 56px; } }
    @media (min-width: 1101px) {
      .c-user__wrapper-stats {
        padding-left: 56px; } }
  .c-user__stat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px; }
    @media (min-width: 768px) {
      .c-user__stat--margins {
        margin-left: 40px;
        margin-right: 40px; } }
    @media (min-width: 1024px) {
      .c-user__stat {
        padding-bottom: 0px;
        margin-right: 48px;
        margin-left: 0px; } }
    @media (min-width: 1101px) {
      .c-user__stat {
        margin-right: 95px; } }
  .c-user__figure--up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #60F560; }
  .c-user__figure--down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid #F56060; }
  .c-user__wrapper-percentage-data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .c-user__percentage {
    font-size: 34px;
    font-weight: bold;
    line-height: 76px;
    text-align: center;
    color: #484848; }
    @media (min-width: 768px) {
      .c-user__percentage {
        font-size: 41px; } }
    @media (min-width: 1024px) {
      .c-user__percentage {
        font-size: 38px;
        padding-left: 10px; } }
    @media (min-width: 1101px) {
      .c-user__percentage {
        font-size: 56px; } }
  .c-user__data {
    color: #AFAFAF;
    font-size: 17px;
    line-height: 0px; }
    @media (min-width: 1024px) {
      .c-user__data {
        font-size: 15px;
        line-height: 16px; } }
    @media (min-width: 1101px) {
      .c-user__data {
        font-size: 16px; } }
  .c-user__wrapper-rating-options {
    padding-top: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 76px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
    .c-user__wrapper-rating-options-line {
      height: 1px;
      background: #E0E0E0;
      width: 90%;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      position: absolute; }
    @media (min-width: 768px) {
      .c-user__wrapper-rating-options {
        width: 80%;
        margin: 0 auto; } }
    @media (min-width: 1024px) {
      .c-user__wrapper-rating-options {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: 64px; } }
  .c-user__rating {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    position: relative; }
    @media (min-width: 1024px) {
      .c-user__rating {
        width: 40%;
        padding-left: 56px;
        padding-right: 56px;
        border-right: 1px solid #E0E0E0;
        border-bottom: none; } }
  .c-user__rating-title {
    color: #AFAFAF;
    font-size: 19px;
    line-height: 16px;
    font-weight: lighter;
    text-align: center; }
    .c-user__rating-title--number {
      font-size: 56px;
      font-weight: bold;
      color: #484848; }
    @media (min-width: 1024px) {
      .c-user__rating-title {
        text-align: left; } }
  .c-user__rating-lines {
    margin-top: 15px;
    margin-bottom: 30px; }
  .c-user__rating-linegray {
    height: 8px;
    background: #D8D8D8;
    border-radius: 24px; }
  .c-user__rating-linegreen {
    height: 8px;
    background: #60F560;
    border-radius: 24px;
    width: 80%;
    -webkit-animation: linegreen .8s ease-out;
            animation: linegreen .8s ease-out; }
  .c-user__rating-description {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
    font-size: 16px;
    line-height: 20px;
    color: #484848; }
  .c-user__rating-viewmore {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #484848;
    padding-bottom: 22px; }
    .c-user__rating-viewmore img {
      width: 14px;
      margin-right: 7px; }
    @media (min-width: 1024px) {
      .c-user__rating-viewmore {
        padding-bottom: 0px; } }
  .c-user__wrapper-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 60%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 39px; }
    @media (min-width: 768px) {
      .c-user__wrapper-options {
        width: 100%;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    @media (min-width: 1024px) {
      .c-user__wrapper-options {
        width: 60%;
        margin-top: 0px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .c-user__option {
    height: 184px;
    width: 202px;
    background: #AFAFAF;
    border-radius: 8px;
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F0F2F9;
    cursor: pointer; }
    .c-user__option span {
      font-size: 24px;
      font-weight: bold;
      line-height: 33px;
      text-align: center;
      color: #C4CCE8;
      text-transform: capitalize;
      margin-top: 5px; }
    @media (min-width: 1024px) {
      .c-user__option {
        margin-right: 23px;
        margin-top: 0px; } }
  .c-user__option:hover {
    background: -webkit-linear-gradient(left, #B993D6 0%, #8CA6DB 100%);
    background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24); }
    .c-user__option:hover span {
      color: #FFFFFF; }
    .c-user__option:hover .c-user__option-img {
      filter: brightness(0%) invert(100%);
      -webkit-filter: brightness(0%) invert(100%); }

.c-dropdown-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #B993D6 0%, #8CA6DB 100%);
  background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
  top: 0;
  right: -100%;
  z-index: 3;
  display: none; }
  .c-dropdown-mobile__wrapper-dismiss {
    text-align: right;
    padding: 38px 30px; }
  .c-dropdown-mobile__dismiss {
    width: 30px; }
  .c-dropdown-mobile__wrapper-links {
    text-align: center; }
  .c-dropdown-mobile__link-list {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15%;
    list-style: none; }
  .c-dropdown-mobile__link {
    padding-bottom: 70px; }

.c-footer {
  height: 86px;
  background: #484848;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 1024px) {
    .c-footer {
      padding-left: 80px;
      -webkit-box-pack: initial;
      -webkit-justify-content: initial;
          -ms-flex-pack: initial;
              justify-content: initial; } }
  .c-footer__copyright {
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px; }

/* ==========================================================================*/
/* UTILITIES */
/* ==========================================================================*/
.u-none {
  display: none !important; }
  @media (min-width: 1101px) {
    .u-none\@md {
      display: none !important; } }
  @media (min-width: 501px) and (max-width: 1100px) {
    .u-none\@sm {
      display: none !important; } }
  @media (min-width: 0px) and (max-width: 500px) {
    .u-none\@xs {
      display: none !important; } }

/* ==========================================================================*/
/* END UTILITIES */
/* ==========================================================================*/
