/* ==========================================================================*/
/* SETTINGS */
/* ==========================================================================*/

//MAIN GRADIENT
$main-gradient: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);

//COLORS
$white: #FFFFFF;
$gray: #AFAFAF;
$black: #484848;
$bg-options: #F0F2F9;
$line: #E0E0E0;
$green: #60F560;
$red: #F56060;
$option-color:#C4CCE8;




//FONTS
$font-open-sans: 'open sans', 'sans-serif';




/* ==========================================================================*/
/* END SETTINGS */
/* ==========================================================================*/