/* ==========================================================================*/
/* GENERIC */
/* ==========================================================================*/

//LIBRERIAS EXTERNAS
@import '/Users/jorge/Desktop/programming_pruebas/BEMIT_PROJECT/node_modules/normalize.css/normalize.css';


*,
*:after,
*:before{

    padding: 0;
    margin: 0;
    outline: 0px solid;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus,
    &:visited{

        outline: 0px solid;
    }
}



/* ==========================================================================*/
/* END GENERIC */
/* ==========================================================================*/