.c-dropdown-mobile{
    position: absolute; 
    width: 100%;
    height: 100%;
    background: $main-gradient;
    top: 0;
    right: -100%;
    z-index: 3;
    display: none;

    &__wrapper-dismiss{
        text-align: right;
        padding: 38px 30px;
    }

    &__dismiss{
        width: 30px;
    }

    &__wrapper-links{
        text-align: center;
    }

    &__link-list{
        color: $white;
        font-size: 30px;
        font-weight: bold;
        margin-top: 15%;
        list-style: none;
    }

    &__link{
        padding-bottom: 70px;
    }
}