.c-footer{

    height: 86px;
    background: $black;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm1024(){
        padding-left: 80px;
        justify-content: initial;
    }
   

    &__copyright{
        color: $white;
        font-weight: lighter;
        font-size: 16px;
        line-height: 22px;
    }
}