.c-header{
    height: 150px;
    width: 100%;
    background: $main-gradient;      

    &__wrapper-header{
        display: flex;
        justify-content: space-between;
        padding: 40px 30px;
        align-items: center;

        @include sm1024(){
            padding: 0;
            justify-content: space-around;
            align-items: initial;
        }
    }
    &__wrapper-logo{
        display: inline-block;
        margin: 0 auto;
        @include sm1024(){
            margin: 40px 0px 0px 80px;
        }
    }

    &__logo{
        width: 160px;

        @include tablet(){
            width: 185px;
        }
        @include sm1024(){
            width: 220px;
        }
    }

    &__wrapper-links{
        display: inline-block;  
        margin-top: 38px;
        margin-right: 80px;
        display: none;

        @include sm1024(){
            display: inline-block;
        }
    }

    &__links{
        display: flex;
        list-style: none;
        font-size: 24px;
        font-weight: 600;	
        line-height: 33px;	
        margin-left: 56px;
        
    }
    &__link{
        margin-left: 34px;
        a{
            text-decoration: none;
            color: $white;  
            text-align: right; 
        }
    }

    &__wrapper-menu-mobile{
        width: 30px;
        img{
            width: 100%;
        }
        @include sm1024(){
            display: none;
        }
    }
}
