.c-user{
    width: 100%;
    background: $white;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.16);
    border-radius: 8px;
    margin: -40px auto;
    margin-bottom: 150px;
    animation: fadein 0.6s ease-in-out;

    &__tabs{
        display: flex;
        list-style: none;
        position: relative;
        width: 100%;
        justify-content: center;

        @include sm1024(){
            justify-content: normal;
            width: auto;
        }
    }
    &__tab{
        width: 100%;
        padding: 20px 6px;
        font-size: 13px;
        font-weight: 600;
        line-height: 27px;
        text-align: center;
        z-index: 2;
        color: $gray;
        position: relative;
        cursor: pointer;
        &--active{
            color: $black;
            border-bottom: 4px solid;
            border-image: $main-gradient;
            border-image-slice: 1;  
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;  
        }
        @include medium-mobile(){
            font-size: 15px;
        }
        @include tablet(){
            font-size: 18px;
        }
        @include sm1024(){
            width: auto;
            padding: 20px 46px;
            font-size: 20px;
        }

    }
    &__tabs-line{
        width: 100%;
        height: 4px;
        background: $line;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
    &__tabs-separator{
        width: 17px;
        height: 1px;
        background: $line;
        position: absolute;
        right: -8px;
        top: 50%;
        z-index: 1;
        transform: rotate(90deg);
    }

    &__wrapper-avatar-stats{
        display: flex;
        margin-top: 39px;
        flex-direction: column;

        @include sm1024(){
            flex-direction: row;
            margin-top: 64px;
        }
    }

    &__wrapper-avatar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        
        @include sm1024(){
            width: 40%;
            flex-direction: row;
        }
    }

    &__wrapper-avatar-img{
        width: 120px;
        position: relative;

        @include sm1024(){
            width: 200px;
            margin-top: 25px;
            margin-left: 60px;
        }

        @include md(){
            width: 120px;
        }
    }

    &__img{
        width: 100%;
    }

    &__wrapper-username{
        text-align: center;
        border-bottom: 1px solid $line;
        padding-right: 43px;
        padding-left: 32px;
        padding-top: 15px;
        padding-bottom: 15px;

        @include sm1024(){
            text-align: left;
            padding-top: 0px;
            padding-bottom: 0px;
            border-right: 1px solid $line;
            border-bottom: none;
        }
        
    }
    &__username{
        font-size: 21px;
        font-weight: 600;	
        line-height: 33px;
        text-transform: capitalize;

        @include sm1024(){
            font-size: 22px;
        }

        @include md(){
            font-size: 24px;
        }
    }
    &__description{
        font-size: 18px;
        line-height: 27px;
        color: $gray;
        font-weight: lighter;
        max-width: 280px;
        text-align: center;

        @include sm1024(){
            font-size: 15px;
            text-align: left;
        }
        @include md(){
            font-size: 20px;
        }
    }
    &__online-circle{
        top: 12px;
        height: 16px;
        width: 16px;
        background-color: $green;
        border-radius: 50%;
        position: absolute;
        right: 6px;

        @include sm1024(){
            top: 5px;
        }
        @include md(){
            top: 12px;
        }
    }


    &__wrapper-stats{
        display: flex;
        margin: 30px auto;
        width: 100%;
        flex-direction: column;
        align-items: center;

        @include tablet(){
            flex-direction: row;
            justify-content: center;
        }

        @include sm1024(){
            margin: 0 auto;
            justify-content: center;
            width: 60%;
            flex-direction: row;
            padding-left: 56px;
        }
        @include md(){
            padding-left: 56px;
        }
    }
    &__stat{
        display: flex;
        align-items: center;
        padding-bottom: 24px;
            &--margins{
                @include tablet(){
                    margin-left:40px;
                    margin-right: 40px;
                }
        }

        @include sm1024(){
            padding-bottom: 0px;
            margin-right: 48px;
            margin-left: 0px;
        }
        @include md(){
            margin-right: 95px;
        }
    }
    &__figure{
      &--up{
        width: 0; 
        height: 0; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 24px solid $green;
      }
      &--down{
        width: 0; 
        height: 0; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 24px solid $red;
      }
    }
    &__wrapper-percentage-data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__percentage{
        font-size: 34px;
        font-weight: bold;
        line-height: 76px;	
        text-align: center;
        color: $black;

        @include tablet(){
            font-size: 41px;
        }
       
        @include sm1024(){
            font-size: 38px;
            padding-left: 10px;
        }
        @include md(){
            font-size: 56px;
        }
    }
    &__data{
        color: $gray;
        font-size: 17px;
        line-height: 0px;	

        @include sm1024(){
            font-size: 15px;
            line-height: 16px;
        }

        @include md(){
            font-size: 16px;
        }
    }


    &__wrapper-rating-options{
        padding-top: 64px;
        display: flex;
        padding-bottom: 76px;
        flex-direction: column;
        position: relative;
        &-line{
            height: 1px;
            background: $line;
            width: 90%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }

        @include tablet(){
            width: 80%;
            margin: 0 auto;
        }

        @include sm1024(){
            width: 100%;
            flex-direction: row;
            margin-top: 64px;
        }

    }
    &__rating{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        width: 100%;
        border-bottom: 1px solid #E0E0E0;
        position: relative;

        @include sm1024(){
            width: 40%;
            padding-left: 56px;
            padding-right: 56px;
            border-right: 1px solid #E0E0E0;
            border-bottom: none;
        }
    }

    &__rating-title{
        color: $gray;
        font-size: 19px;	
        line-height: 16px;
        font-weight: lighter;
        text-align: center;
        &--number{
            font-size: 56px;
            font-weight: bold;
            color: $black;
        }

        @include sm1024(){
           text-align: left;
        }
    }
    &__rating-lines{
        margin-top: 15px;
        margin-bottom: 30px;
    }
    &__rating-linegray{
        height: 8px;
        background: #D8D8D8;
        border-radius: 24px;
    }

    &__rating-linegreen{
        height: 8px;
        background: $green;
        border-radius: 24px;
        width: 80%;
        animation: linegreen .8s ease-out;
    }


    &__rating-description{
        -webkit-mask-image: -webkit-gradient(linear, left top, 
        left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        font-size: 16px;
        line-height: 20px;
        color: $black;
    }

    &__rating-viewmore{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        color: $black;  
        padding-bottom: 22px;    
        img{
            width: 14px;
            margin-right: 7px;
        }

        @include sm1024(){
            padding-bottom: 0px;
        }
    }

    &__wrapper-options{
        display: flex;
        margin: 0 auto;
        width: 60%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 39px;

        @include tablet(){
            width: 100%;
            justify-content: space-around;
        }

        @include sm1024(){
            width: 60%;
            margin-top: 0px;
            justify-content: center;
        }
    }


    &__option{
        height: 184px;
        width: 202px;
        background: $gray;
        border-radius: 8px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $bg-options;
        cursor: pointer;

        span{
            font-size: 24px;
            font-weight: bold;
            line-height: 33px;	
            text-align: center;
            color: $option-color;
            text-transform: capitalize;
            margin-top: 5px;
        }
        @include sm1024(){
            margin-right: 23px;
            margin-top: 0px;
        }
    }

    &__option:hover{
        background: $main-gradient;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24);
        span{
            color: $white;
        }
        .c-user__option-img{
            filter: brightness(0%) invert(100%);
            -webkit-filter:brightness(0%) invert(100%);
           
        }
    }
 
}