@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes top {
    from { margin: 0 auto; }
    to   { margin: -40px auto; }
}

/* Firefox < 16 */
@-moz-keyframes top {
    from { margin: 0 auto; }
    to   { margin: -40px auto; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes top {
    from { margin: 0 auto; }
    to   { margin: -40px auto; }
}

/* Internet Explorer */
@-ms-keyframes top {
    from { margin: 0 auto; }
    to   { margin: -40px auto; }
}

/* Opera < 12.1 */
@-o-keyframes top {
    from { margin: 0 auto; }
    to   { margin: -40px auto; }
}



@keyframes linegreen {
    from {width: 0%; }
    to   { width: 80%; }
}

/* Firefox < 16 */
@-moz-keyframes linegreen{
    from {width: 0%; }
    to   { width: 80%; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes linegreen {
    from {width: 0%; }
    to   { width: 80%; }
}

/* Internet Explorer */
@-ms-keyframes linegreen {
    from {width: 0%; }
    to   { width: 80%; }
}

/* Opera < 12.1 */
@-o-keyframes linegreen {
    from {width: 0%; }
    to   { width: 80%; }
}




@keyframes dropdownin {
    from {right: -100%; }
    to   { right: 0%; }
}

/* Firefox < 16 */
@-moz-keyframes dropdownin{
    from {right: -100%; }
    to   { right: 0%; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes dropdownin {
    from {right: -100%; }
    to   { right: 0%; }
}

/* Internet Explorer */
@-ms-keyframes dropdownin {
    from {right: -100%; }
    to   { right: 0%; }
}

/* Opera < 12.1 */
@-o-keyframes dropdownin {
    from {right: -100%; }
    to   { right: 0%; }
}